.header {
	height: 10%;
	background-color: red;
	wifth: 100%;
}

.spis {
	float: left;
	height: 80%;
	width: 80%;
	background-color: blue;
}
.menu {
	float: right;
	height: 80%;
	width: 20%;
	background-color: grey;
}
.footer {
	width: 100%;
	height: 10%;
	clear: both;
	background-color: green;
}
